image: openapitools/openapi-generator-cli:v7.4.0

variables:
  GRADLE_OPTS: "-Dorg.gradle.daemon=false"

before_script:
  - GRADLE_USER_HOME="$(pwd)/.gradle"
  - export GRADLE_USER_HOME

stages:
  - build
  - publish
  
build:
  stage: build
  cache:
    paths:
    - .gradle
  script:
    - ./generator.sh

publish:
  stage: publish
  cache:
    paths:
    - .gradle
  rules:
    - if: '$CI_COMMIT_TAG'
  script:
    - export TAG="$CI_COMMIT_TAG"
    - ./generator.sh "$TAG"
    - ./publish.sh "$TAG"
